<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nils.lec" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/landraider"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main_activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".proximity_activity.ProximityActivity"
            android:label="@string/title_activity_proximity" >
        </activity>
        <activity
            android:name=".io_activity.IOActivity"
            android:label="@string/title_activity_io" >
        </activity>
        <activity
            android:name=".landraider_activity.LandraiderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_landraider"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
